<div class="bmm-widget-panel">
    <div class="bmm-widget-panel-body">
        <div class="bmm-widget-logo-container">
            <img src="https://app.bestmoneymoves.com/assets/images/bmm-logo-color.png" alt="Best Money Moves">
        </div>
        <h3>Productivity Cost Calculator</h3>
        <div class="bmm-widget-panel-body-content">
            <div class="bmm-widget-productivity-cost-form-wrapper">
                <div class="bmm-widget-body-text">
                    <p>When your employees are stressed out about money their productivity goes down.</p>
                    <p>Enter how many employees you have to see what it is costing you every year.</p>
                </div>
                <form class="form-horizontal has-buttons">
                    <div class="form-group">
                        <input
                            name="bmm_widget_number_of_employees"
                            class="form-control"
                            placeholder="Enter number of employees here"
                            aria-invalid="false"
                            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAYdJREFUOBGVVLuKwkAUPTErioVgY5WF2AhpFKz8AC0W0vgTK9injvkMt7HyB6zWSuy1s1WRXUJQ0cJCxSLOnSSzcYmaDGTmPs45M3fuEMmyrA/XdXvse0eMIUnSD4N9drvdb4KnkpCJ4G/0RTYNEoi1swf35jAnFU68snO5HMrl8h0skYCqqmg0GtEC2WxWJDKZDNhlCT+cE0HfeKNV13XUajUMBgPs93t0Oh3Yto1+v3+X+08mP1EJUQKSaZouJeiY5/OZY6iEy+UShRcxVuIvc9riBAGZEK/IhGGtVNjS43dAgWej2WyiUqlAlmWs12sMh0OcTicuIk7wTOBwOGA+n2O5XELTNJRKJQFP+W9bBKKM6XSK4/GIfD4Px3G4UIAjgXYckXq9DkVRsN1ukU6nAz7+XosIeUbQHfKIcL1eUa1W0Wq1MB6PMZlMODDWJRqGgd1uh0KhwEmbzYavND0UoD77rcJoNEKxWOS1LxYLrFYrLkCYhwIMQXdDPxplNptxQngiMmFuABiQmENn7wkAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"
                            autocomplete="off"
                            type="number"
                            min="1"
                            required>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-default">CALCULATE</button>
                    </div>
                </form>
            </div>
            <div style="display: none;" class="bmm-widget-productivity-cost-results-wrapper">
                <div class="bmm-widget-body-text">
                    <p>
                        Your company loses
                        <h4 class="bmm-widget-productivity-cost-result-value alert-danger"></h4>
                        every year in lost productivity because your employees are stressed out.<sup>*</sup>
                    </p>
                </div>

                <form class="form-horizontal has-buttons">
                    <div class="button-container">
                        <button type="submit" class="btn btn-default">RECALCULATE</button>
                    </div>
                </form>
                <p>
                    <small class="fine-print">
                        <sup>*</sup>It is estimated that financially stressed employees
                        cost businesses $7,000/year in lost productivity.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
